.currency-table {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.currency-table h2 {
  text-align: center;
  margin-bottom: 20px;
}

.currency-table table {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ddd;
}

.currency-table th,
.currency-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
}

.currency-table th {
  background-color: rgb(211, 127, 255);
  font-weight: bold;
}

.currency-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.currency-table tbody tr:hover {
  background-color: #f1f1f1;
}

.currency-table tbody tr td {
  transition: background-color 0.3s;
}

.currency-table tbody tr:first-of-type td {
  font-weight: bold;
  background-color: #e9ecef;
}
