.currency-converter {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background-color: #f3f3f3;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.converter-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: space-between; /* Ensures items are spaced out */
}

.currency-label {
  margin-left: 10px;
  width: 60px;
  font-weight: bold;
}

.currency-name {
  font-size: 0.9em;
  color: #666;
  margin-left: 10px;
  flex-grow: 1; /* Ensures the name takes available space */
}

.remove-btn {
  margin-left: auto;
}

.add-currency-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #007bff;
  font-size: 1em;
  cursor: pointer;
  padding: 10px;
}

.add-currency-btn:hover {
  color: #0056b3;
}

.add-currency-btn:before {
  content: "+";
  font-size: 1.2em;
  margin-right: 5px;
}
